<nav class="navbar fixed-top navbar-light bg-light" style="background-image: linear-gradient(to right, #9f78ff, #32cafe);">
  <a class="navbar-brand" href="#">Fixed top</a>
</nav>
<div class="container mt-5">
  <div class="d-flex justify-content-center mb-3">
    <div class="p-2 bd-highlight">
      <form class="form-inline" [formGroup]="findForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group mx-sm-3 mb-2">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-greenyellow mr-2 mb-2">Найти</button>
        <button type="submit" class="btn mb-2 btn-ultraviolet">Добавить нотариуса</button>
      </form>
    </div>
    <div class="ml-auto p-2 bd-highlight">
      <button type="submit" class="btn mb-2 btn-ultraviolet">Экспорт данных</button>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="card w-auto shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title text-center">Данные нотариуса</h5>
          <form [formGroup]="findForm" (ngSubmit)="onSubmit()" novalidate>
            <label class="font-italic font-weight-light text-success">Данные</label>
            <div class="pl-2" style="border: green solid;border-width: 0 0 0 2px;">
              <div class="form-row mb-2">
                <div class="col">
                  <label class="font-italic small font-weight-light"
                         style="color: mediumslateblue;">ФИО (англ)</label>
                  <input type="text" class="form-control" placeholder="ФИО (англ)">
                </div>
              </div>
              <div class="form-row mb-2">
                <div class="col">
                  <label class="font-italic small font-weight-light"
                         style="color: mediumslateblue;">ФИО (укр)</label>
                  <input type="text" class="form-control" placeholder="ФИО (укр)">
                </div>
              </div>
              <div class="form-row mb-2">
                <div class="col col-sm-8">
                  <label class="font-italic small font-weight-light"
                         style="color: mediumslateblue;">Телефон</label>
                  <input type="text" class="form-control" placeholder="Телефон">
                </div>
                <div class="col col-sm-4">
                  <label class="font-italic small font-weight-light"
                         style="color: mediumslateblue;">ID</label>
                  <input type="text" class="form-control" placeholder="ID">
                </div>
              </div>
              <div class="form-row mb-2">
                <div class="col col-sm-8">
                  <label class="font-italic small font-weight-light"
                         style="color: mediumslateblue;">Инн</label>
                  <input type="text" class="form-control" placeholder="Инн">
                </div>
              </div>
            </div>
            <div class="pl-2">
            <div class="form-row mb-2">
              <div class="col col-sm-8">
                <label class="font-italic small font-weight-light"
                       style="color: mediumslateblue;">
                  Номер карты <span class="font-weight-bold" style="color: #FF6F61">*</span></label>
                <input type="text" class="form-control small font-weight-light" placeholder="Карта">
              </div>
              <div class="col col-sm-4">
                <label class="font-italic small font-weight-light" style="color: mediumslateblue;">Лимит на карте
                  <span class="font-weight-bold" style="color: #FF6F61">*</span></label>
                <input type="text" class="form-control" placeholder="Лимит">
              </div>
            </div>
            <div class="form-row mb-2">
              <div class="col">
                <label class="font-italic small font-weight-light" style="color: mediumslateblue;">Код</label>
                <input type="text" class="form-control" placeholder="Код">
              </div>
              <div class="col">
                <label class="font-italic small font-weight-light" style="color: mediumslateblue;">cотрудник</label>
                <input type="text" class="form-control" placeholder="Ldap">
              </div>
            </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
